@use "mixins";

%footer-links-display {
  @include mixins.flexDisplay;
  flex-direction: column;
}

%link-inline-flex-display {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
  line-height: 1;
}
