@use "variables";

html.dark--mode {
  --bg: #{variables.$primaryColorDark};
  --font-color: #{variables.$primaryColorLight};
  --heading-color: #{variables.$primaryColorLight};
  --nav-link-color: #{variables.$primaryColorLight};
  --nav-link-active-color: #{variables.$accentColorLight};
  --hero-gradient-color: #{variables.$primaryColorDark};
  --hero-heading-color: #{variables.$primaryColorLight};
  --hero-link-color: #{variables.$primaryColorLight};
  --hero-image-bg: #{variables.$primaryColorDark};
  --hero-image-shadow-color: #{rgba(variables.$primaryColorDark, 0.3)};
  --slide-btn-bg: #{variables.$primaryColorLight};
  --slide-link-bg: #{variables.$primaryColorLight};
  --slide-link-color: #{variables.$primaryColorDark};
  --slide-link-hover-bg-color: #{variables.$primaryColor};
  --slide-link-hover-color: #{variables.$primaryColorLight};
  --tool-list-border-color: #{variables.$primaryColorLight};
  --tool-list-bg: #{rgba(variables.$primaryColorLight, 0.15)};
  --tool-list-color: #{variables.$primaryColorLight};
  --projects-grid-item-shadow-color: #{rgba(variables.$primaryColorLight, 0.25)};
  --projects-link-color: #{variables.$primaryColorLight};
  --projects-grid-title-bg: #{variables.$primaryColorDark};
  --project-link-color: #{variables.$primaryColorLight};
  --project-link-hover-color: #{variables.$primaryColorLight};
  --project-link-border-color: #{variables.$primaryColorLight};
  --footer-bg-color: #{rgba(variables.$primaryColor, 0.1)};
}
