.dark {
  --bg: #{$primaryColorDark};
  --font-color: #{$primaryColorLight};
  --heading-color: #{$primaryColorLight};
  --nav-link-color: #{$primaryColorLight};
  --nav-link-active-color: #{$accentColorLight};
  --hero-gradient-color: #{$primaryColorDark};
  --hero-heading-color: #{$primaryColorLight};
  --hero-link-color: #{$primaryColorLight};
  --hero-image-bg: #{$primaryColorDark};
  --hero-image-shadow-color: #{rgba($primaryColorDark, 0.3)};
  --slide-btn-bg: #{$primaryColorLight};
  --slide-link-bg: #{$primaryColorLight};
  --slide-link-color: #{$primaryColorDark};
  --slide-link-hover-bg-color: #{$primaryColor};
  --slide-link-hover-color: #{$primaryColorLight};
  --tool-list-border-color: #{$primaryColorLight};
  --tool-list-bg: #{rgba($primaryColorLight, 0.15)};
  --tool-list-color: #{$primaryColorLight};
  --projects-grid-item-shadow-color: #{rgba($primaryColorLight, 0.25)};
  --projects-link-color: #{$primaryColorLight};
  --projects-grid-title-bg: #{$primaryColorDark};
  --project-link-color: #{$primaryColorLight};
  --project-link-hover-color: #{$primaryColorLight};
  --project-link-border-color: #{$primaryColorLight};
  --footer-bg-color: #{rgba($primaryColor, 0.1)};
}
