@use "sass:meta";
@use "variables";
@use "mixins";

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Oswald&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --bg: #{variables.$primaryColorLight};
  --font-color: #{variables.$primaryColorDark};
  --heading-font-family: #{meta.inspect(variables.$headingFontFamily)};
  --body-font-family: #{meta.inspect(variables.$bodyFontFamily)};
  --heading-color: #{variables.$primaryColor};
  --nav-link-color: #{variables.$primaryColor};
  --nav-link-active-color: #{variables.$accentColor};
  --hero-gradient-color: #{variables.$primaryColorLight};
  --hero-heading-color: #{variables.$primaryColorDark};
  --hero-link-color: #{variables.$primaryColor};
  --hero-image-bg: #{variables.$primaryColorLight};
  --hero-image-shadow-color: #{rgba(variables.$primaryColorLight, 0.3)};
  --slide-btn-bg: #{variables.$primaryColorDark};
  --slide-link-bg: #{variables.$primaryColorDark};
  --slide-link-color: #{variables.$primaryColorLight};
  --slide-link-hover-bg-color: #{variables.$primaryColor};
  --slide-link-hover-color: #{variables.$primaryColorLight};
  --about-bg-color: #{rgba(variables.$primaryColor, 0.1)};
  --tool-list-border-color: #{variables.$primaryColor};
  --tool-list-bg: #{rgba(variables.$primaryColor, 0.15)};
  --tool-list-color: #{variables.$primaryColor};
  --projects-grid-item-shadow-color: #{rgba(variables.$primaryColorDark, 0.65)};
  --projects-link-color: #{variables.$primaryColorDark};
  --projects-grid-title-bg: #{variables.$primaryColorLight};
  --project-link-color: #{variables.$primaryColorDark};
  --project-link-hover-color: #{variables.$primaryColor};
  --project-link-border-color: #{variables.$primaryColor};
  --project-footer-link-color: var(--font-color);
  --footer-bg-color: #{variables.$primaryColorDark};
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html.dark-mode {
  --bg: #{variables.$primaryColorDark};
  --font-color: #{variables.$primaryColorLight};
  --heading-color: #{variables.$primaryColorLight};
  --nav-link-color: #{variables.$primaryColorLight};
  --nav-link-active-color: #{variables.$accentColorLight};
  --hero-gradient-color: #{variables.$primaryColorDark};
  --hero-heading-color: #{variables.$primaryColorLight};
  --hero-link-color: #{variables.$primaryColorLight};
  --hero-image-bg: #{variables.$primaryColorDark};
  --hero-image-shadow-color: #{rgba(variables.$primaryColorDark, 0.3)};
  --slide-btn-bg: #{variables.$primaryColorLight};
  --slide-link-bg: #{variables.$primaryColorLight};
  --slide-link-color: #{variables.$primaryColorDark};
  --slide-link-hover-bg-color: #{variables.$primaryColor};
  --slide-link-hover-color: #{variables.$primaryColorLight};
  --about-bg-color: #{rgba(variables.$primaryColorLight, 0.1)};
  --tool-list-border-color: #{variables.$primaryColorLight};
  --tool-list-bg: #{rgba(variables.$primaryColorLight, 0.15)};
  --tool-list-color: #{variables.$primaryColorLight};
  --projects-grid-item-shadow-color: #{rgba(variables.$primaryColorLight, 0.25)};
  --projects-link-color: #{variables.$primaryColorLight};
  --projects-grid-title-bg: #{variables.$primaryColorDark};
  --project-link-color: #{variables.$primaryColorLight};
  --project-link-hover-color: #{variables.$primaryColorLight};
  --project-link-border-color: #{variables.$primaryColorLight};
  --project-footer-link-color: var(--font-color);
  --footer-bg-color: #{rgba(variables.$primaryColor, 0.1)};
}

body {
  background-color: var(--bg);
  font-family: var(--body-font-family);
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    max-width: 125rem;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  h1 {
    @include mixins.setHeadings(variables.$h1);
  }

  h2 {
    @include mixins.setHeadings(variables.$h2);
  }

  h3 {
    @include mixins.setHeadings(variables.$h3);
  }

  ul,
  ol {
    list-style-type: none;
  }

  header,
  footer,
  main,
  section,
  article,
  aside {
    display: block;
  }
}

#main {
  flex-grow: 1;
  color: var(--font-color);
  min-height: variables.$contentHeight;

  p {
    line-height: 1.5;

    &:not(:last-of-type) {
      margin-bottom: variables.$marginBottom;
    }
  }
}
