@use "sass:meta";

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Oswald&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --bg: #{$primaryColorLight};
  --font-color: #{$primaryColorDark};
  --heading-font-family: #{meta.inspect($headingFontFamily)};
  --body-font-family: #{meta.inspect($bodyFontFamily)};
  --heading-color: #{$primaryColor};
  --nav-link-color: #{$primaryColor};
  --nav-link-active-color: #{$accentColor};
  --hero-gradient-color: #{$primaryColorLight};
  --hero-heading-color: #{$primaryColorDark};
  --hero-link-color: #{$primaryColor};
  --hero-image-bg: #{$primaryColorLight};
  --hero-image-shadow-color: #{rgba($primaryColorLight, 0.3)};
  --slide-btn-bg: #{$primaryColorDark};
  --slide-link-bg: #{$primaryColorDark};
  --slide-link-color: #{$primaryColorLight};
  --slide-link-hover-bg-color: #{$primaryColor};
  --slide-link-hover-color: #{$primaryColorLight};
  --tool-list-border-color: #{$primaryColor};
  --tool-list-bg: #{rgba($primaryColor, 0.15)};
  --tool-list-color: #{$primaryColor};
  --projects-grid-item-shadow-color: #{rgba($primaryColorDark, 0.65)};
  --projects-link-color: #{$primaryColorDark};
  --projects-grid-title-bg: #{$primaryColorLight};
  --project-link-color: #{$primaryColorDark};
  --project-link-hover-color: #{$primaryColor};
  --project-link-border-color: #{$primaryColor};
  --footer-bg-color: #{$primaryColorDark};
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  font-family: var(--body-font-family);
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#site__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    max-width: 120rem;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  h1 {
    @include setHeadings($h1);
  }

  h2 {
    @include setHeadings($h2);
  }

  h3 {
    @include setHeadings($h3);
  }

  ul,
  ol {
    list-style-type: none;
  }

  header,
  footer,
  main,
  section,
  article,
  aside {
    display: block;
  }
}

#main {
  flex-grow: 1;
  color: var(--font-color);
  min-height: $contentHeight;

  p {
    line-height: 1.5;

    &:not(:last-of-type) {
      margin-bottom: $marginBottom;
    }
  }
}
