$primaryColor: #315fa8;
$primaryColorLight: #ebf1f9;
$primaryColorDark: #0b1628;
$accentColor: #75520a;
$accentColorLight: #f5d18a;
$dark: #262626;
$light: #fff;
$sun: #ffd700;

$headingFontFamily: "Oswald", sans-serif;
$bodyFontFamily: "Comfortaa", cursive;

$h1: 4rem;
$h2: 2.5rem;
$h3: 1.9rem;

$mobilePadding: 8.5vw;
$desktopPadding: 2rem;
$mobilePagePadding: 13rem $mobilePadding;
$desktopPagePadding: 20rem $desktopPadding;

$mobile: 576px;
$tablet: 768px;
$desktop: 992px;

$mobileDeviceBorder: 4rem;
$desktopDeviceTopBorder: 2.5rem;
$desktopDeviceBottomBorder: 6rem;
$desktopDeviceBaseHeight: 2rem;

$marginBottom: 3rem;
$marginTop: $marginBottom * 3;

$headerHeight: 9.5rem;
$contentHeight: calc(100vh - $headerHeight);
