$primaryColor: #315fa8;
$primaryColorLight: #c6d8f5;
$primaryColorDark: #14305c;
$accentColor: #eba314;
$accentColorLight: #fdf6e8;
$dark: #404040;
$light: #e6e6e6;

$OswaldFont: "Oswald", sans-serif;
$ComfortaaFont: "Comfortaa", cursive;
$mobileFontSize: 1.3rem;
$desktopFontSize: 1.6rem;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.8rem;

$mobilePadding: 6.5vw;
$desktopPadding: 2rem;
$mobilePagePadding: 8rem $mobilePadding 5rem;
$desktopPagePadding: 8rem $desktopPadding 5rem;

$mobile: 576px;
$tablet: 768px;
$desktop: 992px;

$mobileDeviceBorder: 4rem;

$marginBottom: 2rem;
