@mixin flexDisplay($justify: center, $setAlign: false, $align: center) {
  display: flex;
  justify-content: $justify;
  @if ($setAlign == true) {
    align-items: $align;
  }
}

@mixin mediaQuery($breakPoint) {
  @media screen and (min-width: $breakPoint) {
    @content;
  }
}
