@mixin flexDisplay($justify: center, $setAlign: false, $align: center) {
  display: flex;
  justify-content: $justify;
  @if ($setAlign == true) {
    align-items: $align;
  }
}

@mixin mediaQuery($breakPoint) {
  @media screen and (min-width: $breakPoint) {
    @content;
  }
}

@mixin navLink($color, $active: false) {
  &::after {
    content: "";
    background-color: $color;
    height: 0.8rem;
    position: absolute;
    left: 0;
    right: 0;
    @if ($active) {
      bottom: -0.8rem;
    } @else {
      bottom: -2rem;
      transition: 0.1s ease-in;
    }
  }
}
