%headings {
  font-family: $OswaldFont;
  line-height: 3rem;
  margin-bottom: 1.1rem;
}

%list-display {
  list-style: none;
}

%footer-links-display {
  @include flexDisplay(center, true, flex-start);
  flex-direction: column;
}

%mobile-layout-padding {
  padding: 3rem $mobilePadding;
}
