%headings {
  font-family: $OswaldFont;
  line-height: 3rem;
  margin-bottom: 1.1rem;
}

%footer-links-display {
  @include flexDisplay;
  flex-direction: column;
}

%page-padding {
  padding: 3rem $mobilePadding;
}
