// $primaryColor: #0f35f0;
// $primaryColorLight: #9faef9;
// $primaryColorDark: #030b30;
// $secondaryColor: #fba904;
// $secondaryColorLight: #fddc9b;
// $secondaryColorDark: #4b3301;

$primaryColor: #0b25a8;
$primaryColorLight: #6f86f6;
$primaryColorDark: #030b30;
$secondaryColor: #b07603;
$secondaryColorLight: #fdcb68;
$secondaryColorDark: #4b3301;

$black: #000;
$dark: #333;
$white: #fff;
$light: #e6e6e6;
$OswaldFont: "Oswald", sans-serif;
$ComfortaaFont: "Comfortaa", cursive;
