$primaryColor: #0b25a8;
$primaryColorLight: #6f86f6;
$primaryColorDark: #030b30;
$secondaryColor: #b07603;
$secondaryColorLight: #fdcb68;
$secondaryColorDark: #4b3301;
$black: #000;
$dark: #333;
$white: #fff;
$light: #e6e6e6;

$OswaldFont: "Oswald", sans-serif;
$ComfortaaFont: "Comfortaa", cursive;
$mobileFontSize: 1.3rem;
$desktopFontSize: 1.6rem;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.8rem;

$mobilePadding: 6.5vw;
$desktopPadding: 2rem;
$mobilePagePadding: 80px $mobilePadding 50px;
$desktopPagePadding: 80px $desktopPadding 50px;

$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
