/*===================
General Styles
=====================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --exo-font: 'Exo 2', sans-serif;
  --roboto-font: 'Roboto Slab', serif;
  --primary-color: #18254E;
  --primary-color-light: #9DADE1;
  --secondary-color: #693830;
  --secondary-color-light: #DFBDB9;
  --black: #1A1A1A;
  --white: #E6E6E6;
}

html {
  box-sizing: border-box;
  font-family: var(--roboto-font);
  font-size: 62.5%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

aside,
header,
main,
nav,
section {
  display: block;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.row {
  padding: 180px 10vw;
}

.intro.row,
#footer .row {
  padding-bottom: 0;
}

.social-item,
.contact-item,
.footer-item,
.footer-contact-item {
  padding: 0 5px;
}



/*===================
Nav Bar
=====================*/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 20px 5vw;
  transition: 0.2s linear;
  font-family: var(--exo-font);
}

#navbar.shrink {
  padding-top: 3px;
  padding-bottom: 3px;
  background: var(--white) linear-gradient(
    0deg,
    rgba(157, 173, 225, 0.7),
    rgba(223, 189, 185, 0.7) 50%
  );
  box-shadow: 0 1px 3px var(--black);
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand,
.hamburger,
.nav-menu,
.nav-link {
  transition: 0.2s ease-in;
}

#navbar.shrink .nav-brand {
  transform: scale(0.7);
}

.logo {
  width: 65px;
  height: auto;
}

.nav-text,
.nav-name {
  display: none;
}

.hamburger {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 3px 0;
  cursor: pointer;
  border-radius: 50%;
}

#navbar.shrink .hamburger {
  transform: scale(0.8);
}

.hamburger.rotate {
  transform: rotate(90deg);
  background-color: rgba(223, 189, 185, 0.75);
}

#navbar.shrink .hamburger.rotate {
  transform: scale(0.8) rotate(90deg);
}

.hamburger:hover {
  background-color: rgba(223, 189, 185, 0.75);
}

.hamburger::before,
.hamburger::after {
  content: "";
}

.hamburger::before,
.hamburger::after,
.line {
  width: 5px;
  height: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  box-shadow: 0 0 5px var(--black);
}

.line {
  margin: 3px 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  min-height: 100vh;
  width: 80%;
  max-width: 400px;
  padding-top: 50px;
  list-style: none;
  background-color: rgba(105, 56, 48, 0.8);
  transform: translateX(-250%);
}

.nav-menu.open {
  transform: translateX(0);
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 3.5rem;
  color: var(--primary-color-light);
  cursor: pointer;
}

.close:hover {
  color: var(--primary-color);
}

.profile-pic {
  width: 160px;
  height: auto;
  border-radius: 50%;
  border: 6px solid var(--white);
}

.nav-item {
  transform: translateX(-500%);
  width: 11.5rem;
}

.nav-icon {
  font-size: 2.2rem;
  color: var(--secondary-color-light);
  text-align: center;
  display: inline-block;
  width: 3rem;
  margin-right: 5px;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-color-light);
  font-size: 2rem;
}

.nav-link:hover {
  color: var(--primary-color);
}

#navbar #overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 80;
}

@keyframes slideIn {
  100% {
    transform: translateX(0);
  }
}



/*===================
Page Header
=====================*/
#header {
  background: var(--white) url("../../assets/img/lines.jpg") no-repeat;
  background-size: 150% 110%;
  min-height: 100vh;
  position: relative;
}

#header::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(24, 37, 78, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-content {
  max-width: 500px;
  height: 100vh;
  max-height: 800px;
  min-height: 550px;
  margin: 0 auto;
  padding: 150px 30px 50px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#header .container {
  min-height: 100vh;
}

.title {
  text-align: center;
  letter-spacing: 1px;
  margin: 50px 0 30px;
}

.title h1 {
  color: var(--white);
  font-size: 3rem;
  font-family: var(--exo-font);
}

.title h1::first-letter {
  font-size: 5rem;
}

.title h3 {
  color: var(--primary-color-light);
  font-size: 1.5rem;
}

.socials {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: auto;
}

.social-link {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--white);
}

.more{
  position: relative;
  overflow: hidden;
}

.more::before,
.more::after {
  content: "";
  display: block;
  background-color: var(--secondary-color-light);
  width: 2px;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
}

.more::before {
  left: 0;
  transform-origin: center top;
  transition: transform 0.1s linear 0.2s;
}

.more::after {
  right: 0;
  transform-origin: center bottom;
  transition: transform 0.1s linear;
}

.more a {
  text-decoration: none;
  color: rgb(18, 27, 59);
  font-size: 2rem;
  font-variant: small-caps;
  padding: 13px 15px;
  position: relative;
  display: block;
  transition: color 0.3s ease-in;
}

.more:hover a {
  color: var(--white);
}

.more a::before,
.more a::after {
  content: "";
  display: block;
  background-color: var(--secondary-color-light);
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.more a::before {
  top: 0;
  transform-origin: right center;
  transition: transform 0.1s linear 0.1s;
}

.more a::after {
  bottom: 0;
}

.more:hover::after {
  transform: scaleY(0);
  transform-origin: center top;
}

.more:hover a::before {
  transform: scaleX(0);
  transform-origin: left center;
}

.more:hover::before {
  transform: scaleY(0);
  transform-origin: center bottom;
}



/*===================
Main Page Content
=====================*/
#main {
  flex-grow: 1;
}

#main hr {
  display: block;
  height: 2px;
  border: none;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 5%,
    var(--secondary-color) 49%,
    var(--secondary-color) 51%,
    rgba(255, 255, 255, 0) 95%
  );
  margin-top: 55px;
  margin-bottom: 55px;
}

#main h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
}

#main h3 {
  color: var(--secondary-color);
  font-size: 2rem;
}

#main h2,
#main h3 {
  margin-bottom: 25px;
  font-family: var(--exo-font);
  text-align: center;
}

#main p {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

#main p:last-of-type {
  margin-bottom: 0;
}

/*-------------------
About Scetion
---------------------*/

.about-intro-wrapper {
  margin-bottom: 30px;
}

.about-intro-wrapper .profile-pic {
  display: none;
}

.about-link {
  text-decoration: none;
  color: rgb(42, 64, 137);
  font-weight: bold;
}

.about-link:hover {
  color: rgb(60, 91, 195);
  border-bottom: 1px solid var(--secondary-color);
}

.contact-btn {
  text-decoration: none;
  background-color: var(--primary-color);
  display: block;
  width: 16.5rem;
  margin: 80px auto 0;
  padding: 10px 0;
  border-radius: 5px;
  color: var(--white);
  font-size: 1.8rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  transition: background-color 0.2s ease;
}

.contact-btn:hover{
  background-color: rgb(42, 64, 137);
}


/*---------------------
Technology Stacks
-----------------------*/
.stack-header-img {
  background: var(--black) url("../../assets/img/code.jpg") no-repeat fixed;
  background-size: 140% 130%;
  display: block;
  height: 50vh;
  width: 100%;
  margin-bottom: 40px;
}

.stack-wrapper {
  text-align: center;
}

.stack-wrapper.row {
  padding-top: 0;
}

.stack-list {
  margin: 40px auto;
}

.db-list {
  margin: 0 auto;
}

.stack-list,
.db-list {
  list-style: none;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 30px 50px;
  justify-items: center;
  align-items: center;
}

.stack-img {
  height: auto;
  width: 45px;
  transition: 0.15s ease-out;
}

.db-img {
  height: auto;
  width: 70px;
  transition: 0.15s ease-out;
}

.stack-img:hover,
.db-img:hover {
  transform: scale(1.2);
}

.stack-item,
.db-item {
  position: relative;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.15s ease-out;
}

.stack-item:hover,
.db-item:hover {
  opacity: 1;
}

.stack-info,
.db-info {
  width: 120px;
  margin-left: -60px;
  padding: 7px;
  border-radius: 50px;
  position: absolute;
  bottom: -45px;
  left: 50%;
  z-index: 1;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  pointer-events: none;
  opacity: 0;
  transition: 0.15s ease-out;
}

.stack-info::before,
.db-info::before {
  content: "";
  border-style: solid;
  border-width: 7px;
  border-color: transparent transparent var(--primary-color) transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
}

.stack-item:hover .stack-info,
.db-item:hover .db-info {
  opacity: 1;
  pointer-events: none;
}


/*---------------------
Services
-----------------------*/
.services-content {
  background-image: linear-gradient(
    200deg,
    rgba(157, 173, 225, 0.3) 30%,
    var(--white) 40%,
    var(--white) 60%,
    rgba(223, 189, 185, 0.3) 70%
  );
  position: relative;
}

.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 80px 90px;
  width: 85%;
  margin: 0 auto;
}

.services-item {
  min-width: 200px;
  max-width: 325px;
  margin: 0 auto;
  background-color: var(--white);
  border: 1px solid rgb(195, 189, 189);
  box-shadow: 0 0 3px 2px rgb(195, 189, 189);
}

.services-img {
  max-width: 100%;
  height: auto;
}

.services-info {
  padding: 10px;
  text-align: center;
}


/*---------------------
Contact
-----------------------*/
.contact-menu-wrapper {  
  margin: 35px 0 70px;
}
.contact-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-link {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--primary-color);
}

.contact-form {
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 0 5px 3px rgb(191, 191, 191);
}

.input-group {
  width: 100%;
  height: 6rem;
  margin-bottom: 70px;
}

.input-group:nth-of-type(4) {
  height: 37rem;
  margin-bottom: 40px;
}

.input-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.form-input,
.form-text {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  font-size: 1.6rem;
  font-family: var(--roboto-font);
}

.form-input {
  height: 3.7rem;
  padding: 0.8rem 5px 0;
}

.form-text {
  height: 34.7rem;
  padding: 0.8rem 5px 1rem;
  resize: none;
}

.form-input:focus,
.form-text:focus {
  border: 1px solid rgb(191, 191, 191);
  border-bottom: none;
  background-color: #FFF;
}

::placeholder {
  font-size: 1.2rem;
}

::-ms-input-placeholder {
  font-size: 1.2rem;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid rgb(191, 191, 191);
  pointer-events: none;
  display: block;
}

.label::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -3px;
  right: 0;
  z-index: 3;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.4s ease-in;
  transform-origin: right center;
}

.form-input:focus + .label::after,
.form-text:focus + .label::after {
  transform: scaleX(1);
  transform-origin: left center;
}

.label-tag {
  pointer-events: auto;
  font-size: 1.6rem;
  font-variant: small-caps;
  font-weight: bold;
  color: var(--primary-color);
  padding-left: 5px;
}

.required {
  color: rgb(255, 0, 0);
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: inline-block;
  margin: 2px 0 0 5px;
}

.submit-btn {
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  font-size: 1.7rem;
  letter-spacing: 1px;
  display: block;
  padding: 10px 15px;
  margin: 0 auto;
  cursor: pointer;
}

.submit-btn span {
  display: block;
  transform: translateX(1.6rem);
  color: var(--secondary-color-light);
  transition: 0.3s linear;
}

.submit-icon {
  margin-left: 10px;
  color: var(--secondary-color-light);
  opacity: 0;
  transition: 0.2s linear 0.1s;
}

.submit-btn:hover span {
  transform: translateX(0);
  color: var(--white);
}

.submit-btn:hover .submit-icon {
  opacity: 1;
  color: var(--white);
}



/*===================
Page Footer
=====================*/
#footer .row {
  padding-top: 50px;
}
.footer-content {
  background: var(--black) repeating-linear-gradient(
    -45deg,
    rgb(38, 38, 38) 30%,
    rgb(26, 26, 26) 50%,
    rgb(38, 38, 38) 70%
  );
  font-size: 1.5rem;
}

#footer hr {
  display: block;
  height: 1px;
  border: none;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    var(--white),
    rgba(255, 255, 255, 0)
  );
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer-logo-wrapper {
  text-align: center;
}

.footer-logo-wrapper a {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  align-items: end;
  text-decoration: none;
}

.footer-text,
.footer-name {
  display: block;
}

.footer-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.footer-text {
  align-self: end;
  justify-self: start;
  font-size: 1.8rem;
  color: var(--secondary-color-light);
}

.footer-name {
  align-self: start;
  font-size: 2.2rem;
  color: var(--primary-color-light);
  padding: 2px 5px 3px;
  background-color: var(--secondary-color);
  border-radius: 0 10px;
}

.footer-menu,
.footer-contact-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-link,
.footer-contact-link {
  text-decoration: none;
  color: var(--secondary-color-light);
}

.footer {
  margin-top: 60px;
  padding: 35px 0 10px;
  text-align: center;
  color: var(--primary-color-light);
  border-top: 2px solid var(--secondary-color-light);
}



/*===================
Media Queries
=====================*/
/*-------------------
Landscape Tabs
---------------------*/
@media screen and (min-width: 768px) {
  /*-----Technology Stacks-----*/
  .stack-list,
  .db-list {
    max-width: 600px;
  }
}

/*-------------------
Laptops/Desktop PCs
---------------------*/
@media screen and (min-width: 992px) {

  /*-----General Styles-----*/
  html {
    font-size: 69%;
  }
  
  .row {
    padding-left: 90px;
    padding-right: 90px;
  }

  /*-----Nav bar-----*/
  .nav-brand a {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    align-items: end;
    text-decoration: none;
  }

  .nav-text,
  .nav-name {
    display: block;
  }

  .nav-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .nav-text {
    align-self: end;
    font-size: 1.8rem;
    color: var(--black);
  }

  .nav-name {
    align-self: start;
    font-size: 2.2rem;
    color: var(--primary-color-light);
    padding: 2px 5px 3px;
    background-color: var(--secondary-color);
    border-radius: 0 10px;
  }

  .hamburger,
  .close,
  .profile,
  .nav-icon {
    display: none;
  }

  .nav-menu {
    position: static;
    min-height: auto;
    width: 65%;
    max-width: 65rem;
    transform: translateX(0);
    background-color: transparent;
    padding-top: 0;
    flex-direction: row;
  }

  .nav-item {
    transform: translateX(0);
    width: initial;
  }

  .nav-link {
    display: inline-block;
    color: var(--primary-color);
    position: relative;
  }

  .nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s linear;
    transform-origin: right center;
  }

  .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
  }


  /*-----Page Header-----*/
  #header {
    background-size: 113% 115%;
  }
}

/*-------------------
Large PCs
---------------------*/
@media screen and (min-width: 1200px) {

  /*-----About-----*/
  .about-me {
    display: grid;
    grid-template-areas:
      "image intro"
      "image rule"
      "image stacks";
    grid-template-columns: repeat(2, 50vw);
    grid-auto-rows: auto;
    row-gap: 55px;
  }

  .intro,
  #main .about-me hr,
  .tech-stack-wrapper {
    width: 85%;
    max-width: 700px;
    margin: 0 auto;
  }

  .intro.row {
    padding: 150px 0 0;
  }

  .stack-wrapper.row {
    padding: 0 0 180px;
  }

  .about-intro-wrapper .profile-pic {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    border-color: var(--secondary-color);
  }

  .intro {
    grid-area: intro;
  }

  #main .about-me hr {
    grid-area: rule;
  }

  .stack-header-img {
    grid-area: image;
    height: 100%;
    background-size: 70% 100%;
  }

  .tech-stack-wrapper {
    grid-area: stacks;
  }


  /*-----Contact-----*/
  .contact-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 1400px;
    margin: 70px auto 0;
  }

  .contact-menu-wrapper {
    flex: 0 0 20%;
    margin: 0;
  }

  .contact-menu {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
  }

  .contact-form {
    flex: 0 0 50%;
  }
}