/*===================
General Styles
=====================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --exo-font: "Exo 2", sans-serif;
  --roboto-font: "Roboto Slab", serif;
  --primary-color: #18254e;
  --primary-color-light: #9dade1;
  --secondary-color: #693830;
  --secondary-color-light: #dfbdb9;
  --accent-color: #74ba56;
  --dark: #00030e;
  --light: #f2f2f2;
}

html {
  font-family: var(--roboto-font);
  font-size: 62.5%;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  transition: background-color 0.2s ease-in 0.3s;
}

.dark-mode {
  background-color: var(--dark);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

aside,
header,
main,
nav,
section {
  display: block;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.row {
  padding: 80px 10vw;
}

.about__intro.row,
#footer .row {
  padding-bottom: 0;
}

.header__icons--item,
.contact__icons--item {
  padding: 0 5px;
}

/*===================
Nav Bar
=====================*/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 20px 5vw;
  transition: 0.2s linear;
  font-family: var(--exo-font);
}

#navbar.shrink {
  padding-top: 3px;
  padding-bottom: 3px;
  background: var(--light)
    linear-gradient(
      0deg,
      rgba(157, 173, 225, 0.7),
      rgba(223, 189, 185, 0.7) 50%
    );
  box-shadow: 0 1px 3px var(--dark);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__brand,
.hamburger,
#navbar__menu-container,
.navbar__menu--link {
  transition: 0.2s ease-in;
}

#navbar.shrink .navbar__brand {
  transform: scale(0.7);
}

.logo {
  width: 65px;
  height: auto;
}

.navbar__logo--text,
.navbar__logo--name {
  display: none;
}

.hamburger {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 3px 0;
  cursor: pointer;
  border-radius: 50%;
}

#navbar.shrink .hamburger {
  transform: scale(0.8);
}

.hamburger.rotate {
  transform: rotate(90deg);
  background-color: rgba(223, 189, 185, 0.75);
}

#navbar.shrink .hamburger.rotate {
  transform: scale(0.8) rotate(90deg);
}

.hamburger:hover {
  background-color: rgba(223, 189, 185, 0.75);
}

.hamburger::before,
.hamburger::after {
  content: "";
}

.hamburger::before,
.hamburger::after,
.hamburger--line {
  width: 5px;
  height: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  box-shadow: 0 0 5px var(--dark);
}

.hamburger--line {
  margin: 3px 0;
}

#navbar__menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  min-height: 100vh;
  width: 80%;
  max-width: 400px;
  padding-top: 50px;
  background-color: rgba(105, 56, 48, 0.8);
  transform: translateX(-250%);
}

#navbar__menu-container.open {
  transform: translateX(0);
}

.navbar__menu--close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 3.5rem;
  color: var(--primary-color-light);
  cursor: pointer;
}

.navbar__menu--close:hover {
  color: var(--primary-color);
}

.profile-pic {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 6px solid var(--light);
}

#navbar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  list-style: none;
}

.navbar__menu--item {
  transform: translateX(-500%);
  width: 11.5rem;
}

.navbar__menu--icon {
  font-size: 2.2rem;
  color: var(--secondary-color-light);
  text-align: center;
  display: inline-block;
  width: 3rem;
  margin-right: 5px;
}

.navbar__menu--link {
  position: relative;
  text-decoration: none;
  color: var(--primary-color-light);
  font-size: 2rem;
}

.active .navbar__menu--link {
  color: var(--accent-color);
}

.navbar__menu--link:hover {
  color: var(--primary-color);
}

.active .navbar__menu--link:hover {
  color: var(--accent-color);
}

.navbar__menu--link::after,
.active .navbar__menu--link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: transform 0.3s linear;
}

.navbar__menu--link::after {
  transform: scaleX(0);
  transform-origin: right center;
}

.active .navbar__menu--link::after {
  transform: scaleX(1);
  transform-origin: left center;
}

#navbar #overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 80;
}

@keyframes slide-in {
  100% {
    transform: translateX(0);
  }
}

/*===================
Dark Mode
=====================*/
#dark-mode-container {
  position: absolute;
  bottom: -45px;
  right: -5px;
  width: 50px;
  padding: 5px 0 5px 8px;
  background-color: var(--secondary-color);
  border-radius: 10px 0 0 10px;
  line-height: 0;
  opacity: 0.6;
  cursor: pointer;
  overflow: hidden;
}

#dark-mode--icon {
  font-size: 2.2rem;
  color: rgb(230, 230, 42);
}

.dark {
  animation: slide-one 0.6s ease;
}

.light {
  animation: slide-two 0.6s ease;
}

#dark-mode--icon .fa-moon {
  color: var(--light);
}

@keyframes slide-one {
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-two {
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

/*===================
Page Header
=====================*/
#header {
  background: var(--light) url("../../assets/img/lines.jpg") no-repeat;
  background-size: 150% 110%;
  min-height: 100vh;
  position: relative;
}

#header::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(24, 37, 78, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.2s ease-in 0.3s;
}

.dark-mode #header::before {
  background-color: rgba(24, 37, 78, 0.75);
}

#header .container {
  min-height: 100vh;
}

.header-content {
  max-width: 500px;
  height: 100vh;
  max-height: 800px;
  min-height: 550px;
  margin: 0 auto;
  padding: 150px 30px 50px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header__title {
  text-align: center;
  letter-spacing: 1px;
  margin: 50px 0 30px;
}

.header__title h1 {
  color: var(--light);
  font-size: 3rem;
  font-family: var(--exo-font);
  font-variant: small-caps;
}

.header__title h3 {
  color: var(--primary-color-light);
  font-size: 1.5rem;
}

#header__icons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: auto;
}

.header__icons--link {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--light);
}


/*===================
Main Page Content
=====================*/
#main {
  flex-grow: 1;
}

#main hr {
  display: block;
  height: 2px;
  border: none;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 5%,
    var(--secondary-color) 49%,
    var(--secondary-color) 51%,
    rgba(255, 255, 255, 0) 95%
  );
  margin-top: 55px;
  margin-bottom: 55px;
}

#main h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
}

.dark-mode #main h2 {
  color: var(--primary-color-light);
}

#main h3 {
  color: var(--secondary-color);
  font-size: 2rem;
}

.dark-mode #main h3 {
  color: var(--secondary-color-light);
}

#main h2,
#main h3 {
  margin-bottom: 25px;
  font-family: var(--exo-font);
  text-align: center;
  transition: color 0.2s ease-in 0.3s;
}

#main p {
  font-size: 1.6rem;
  color: var(--dark);
  line-height: 2.5rem;
  margin-bottom: 20px;
  transition: color 0.2s ease-in 0.3s;
}

#main p:last-of-type {
  margin-bottom: 0;
}

.dark-mode #main p {
  color: var(--light);
}

/*-------------------
About Section
---------------------*/

.about__intro-wrapper {
  margin-bottom: 20px;
}

.about__intro-wrapper .profile-pic {
  display: none;
}

.about__intro--link {
  text-decoration: none;
  color: rgb(42, 64, 137);
  font-weight: bold;
}

.about__intro--link:hover {
  border-bottom: 1px dotted var(--dark);
}

.contact-btn {
  text-decoration: none;
  background-color: var(--primary-color);
  display: block;
  width: 16.5rem;
  margin: 80px auto 0;
  padding: 10px 0;
  border-radius: 5px;
  color: var(--light);
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  transition: background-color 0.2s ease;
}

.contact-btn:hover {
  background-color: rgb(42, 64, 137);
}

/*---------------------
Technology Stacks
-----------------------*/
.about__header--img {
  background: var(--dark) url("../../assets/img/code.jpg") no-repeat fixed;
  background-size: cover;
  height: 50vh;
  width: 100%;
  margin-bottom: 40px;
}

.about__tech-stack--wrapper {
  text-align: center;
}

.about__tech-stack--wrapper.row {
  padding-top: 0;
}

#about__tech-stack--list {
  margin: 40px auto;
}

#about__tech-stack--db-list {
  margin: 0 auto;
}

#about__tech-stack--list,
#about__tech-stack--db-list {
  list-style: none;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 30px 50px;
  justify-items: center;
  align-items: center;
}

.about__tech-stack--img {
  height: auto;
  width: 45px;
  transition: 0.15s ease-out;
}

.about__tech-stack--db-img {
  height: auto;
  width: 70px;
  transition: 0.15s ease-out;
}

.about__tech-stack--item:hover .about__tech-stack--img,
.about__tech-stack--db-item:hover .about__tech-stack--db-img {
  transform: scale(1.2);
}

.about__tech-stack--item,
.about__tech-stack--db-item {
  position: relative;
  cursor: pointer;
  transition: 0.15s ease-out;
}

.about__tech-stack--item:hover,
.about__tech-stack--db-item:hover {
  opacity: 1;
}

.about__tech-stack--info,
.about__tech-stack--db-info {
  width: 120px;
  margin-left: -60px;
  padding: 7px;
  border-radius: 50px;
  position: absolute;
  bottom: -45px;
  left: 50%;
  z-index: 1;
  color: var(--light);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  pointer-events: none;
  opacity: 0;
  transition: 0.15s ease-out;
}

.about__tech-stack--info::before,
.about__tech-stack--db-info::before {
  content: "";
  border-style: solid;
  border-width: 7px;
  border-color: transparent transparent var(--primary-color) transparent;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
}

.about__tech-stack--item:hover .about__tech-stack--info,
.about__tech-stack--db-item:hover .about__tech-stack--db-info {
  opacity: 1;
  pointer-events: none;
}

/*---------------------
Services
-----------------------*/
.services-content {
  background-image: linear-gradient(
    200deg,
    rgba(157, 173, 225, 0.3) 30%,
    var(--light) 40%,
    var(--light) 60%,
    rgba(223, 189, 185, 0.3) 70%
  );
  position: relative;
}

.dark-mode .services-content {
  background-image: linear-gradient(
    200deg,
    rgba(157, 173, 225, 0.6) 30%,
    var(--dark) 40%,
    var(--dark) 60%,
    rgba(223, 189, 185, 0.6) 70%
  );
}

#services__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 80px 90px;
  width: 85%;
  margin: 0 auto;
}

.services__list--item {
  min-width: 200px;
  max-width: 300px;
  margin: 0 auto;
  background-color: var(--light);
  border: 1px solid rgb(195, 189, 189);
  box-shadow: 0 0 3px 2px rgb(195, 189, 189);
  transition: background-color 0.2s ease-in 0.3s;
}

.dark-mode .services__list--item {
  background-color: var(--dark);
}

.services--img {
  max-width: 100%;
  height: auto;
}

.services--info {
  padding: 10px;
  text-align: center;
}

/*---------------------
Contact
-----------------------*/
.contact-content p {
  text-align: center;
}

.contact__icons-wrapper {
  margin: 35px 0 70px;
}
#contact__icons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact__icons-link {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--primary-color);
}

.contact__form--container {
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 0 5px 3px rgb(191, 191, 191);
}

.input-group {
  width: 100%;
  height: 6rem;
  margin-bottom: 70px;
}

.input-group:nth-of-type(4) {
  height: 37rem;
  margin-bottom: 40px;
}

.input-group:last-of-type {
  margin-bottom: 0;
  height: auto;
}

.input-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.form-input,
.form-text {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  font-size: 1.6rem;
  font-family: var(--roboto-font);
}

.dark-mode .form-input,
.dark-mode .form-text {
  color: #fff;
}

.form-input {
  height: 3.7rem;
  padding: 0.8rem 5px 0;
}

.form-text {
  height: 34.7rem;
  padding: 0.8rem 5px 1rem;
  resize: none;
}

.form-input:focus,
.form-text:focus {
  border: 1px solid rgb(191, 191, 191);
  border-bottom: none;
  background-color: #fff;
}

.dark-mode .form-input:focus,
.dark-mode .form-text:focus {
  color: #000;
}

::placeholder {
  font-size: 1.2rem;
}

::-ms-input-placeholder {
  font-size: 1.2rem;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid rgb(191, 191, 191);
  pointer-events: none;
  display: block;
}

.input-error .label {
  border-bottom: 3px solid rgb(245, 63, 63);
}

.label::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -3px;
  right: 0;
  z-index: 3;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.4s ease-in;
  transform-origin: right center;
}

.form-input:focus + .label::after,
.form-text:focus + .label::after {
  transform: scaleX(1);
  transform-origin: left center;
}

.label-tag {
  pointer-events: auto;
  font-size: 1.6rem;
  font-variant: small-caps;
  font-weight: bold;
  color: var(--primary-color);
  padding-left: 5px;
  transition: color 0.2s ease-in 0.3s;
}

.dark-mode .label-tag {
  color: var(--primary-color-light);
}

.error-msg {
  color: rgb(245, 63, 63);
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 2px 0 0 5px;
  display: none;
}

.submit-btn {
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  font-size: 1.7rem;
  letter-spacing: 1px;
  display: block;
  padding: 10px 15px;
  margin: 0 auto;
  cursor: pointer;
}

.submit-btn span {
  display: block;
  transform: translateX(1.6rem);
  color: var(--secondary-color-light);
  font-weight: bold;
  transition: 0.3s linear;
}

.submit-icon {
  margin-left: 10px;
  color: var(--secondary-color-light);
  opacity: 0;
  transition: 0.2s linear 0.1s;
}

.submit-btn:hover span {
  transform: translateX(0);
  color: var(--light);
}

.submit-btn:hover .submit-icon {
  opacity: 1;
  color: var(--light);
}

/*===================
Page Footer
=====================*/
#footer .row {
  padding-top: 50px;
}

.footer__logo--wrapper {
  text-align: center;
}

.footer__logo--wrapper a {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  align-items: end;
  text-decoration: none;
}

.footer__logo {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.footer__logo--text {
  display: block;
  align-self: end;
  justify-self: start;
  font-size: 1.8rem;
  color: var(--secondary-color);
  transition: color 0.2s ease-in 0.3s;
}

.dark-mode .footer__logo--text {
  color: var(--secondary-color-light);
}

.footer__logo--name {
  display: block;
  align-self: start;
  font-size: 2.2rem;
  color: var(--primary-color-light);
  padding: 2px 5px 3px;
  background-color: var(--secondary-color);
  border-radius: 0 10px;
}

.footer__text {
  margin-top: 30px;
  padding: 35px 0 10px;
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.3rem;
  border-top: 2px solid var(--secondary-color-light);
  transition: color 0.2s ease-in 0.3s;
}

.dark-mode .footer__text {
  color: var(--primary-color-light);
}

/*===================
Media Queries
=====================*/

/*-------------------
Landscape Tabs
---------------------*/
@media screen and (min-width: 768px) {
  /*-----Technology Stacks-----*/
  #about__tech-stack--list,
  #about__tech-stack--db-list {
    max-width: 600px;
  }
}

/*-------------------
Laptops/Desktop PCs
---------------------*/
@media screen and (min-width: 992px) {
  /*-----General Styles-----*/
  html {
    font-size: 69%;
  }

  .row {
    padding-left: 90px;
    padding-right: 90px;
  }

  /*-----Nav bar-----*/
  .navbar__brand a {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    align-items: end;
    text-decoration: none;
  }

  .navbar__logo--text,
  .navbar__logo--name {
    display: block;
  }

  .navbar__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .navbar__logo--text {
    align-self: end;
    font-size: 1.8rem;
    color: var(--dark);
  }

  .navbar__logo--name {
    align-self: start;
    font-size: 2.2rem;
    color: var(--primary-color-light);
    padding: 2px 5px 3px;
    background-color: var(--secondary-color);
    border-radius: 0 10px;
  }

  .hamburger,
  .navbar__menu--close,
  .profile,
  .navbar__menu--icon {
    display: none;
  }

  #navbar__menu-container {
    position: static;
    min-height: auto;
    width: 65%;
    max-width: 65rem;
    transform: translateX(0);
    background-color: transparent;
    padding-top: 0;
  }

  #navbar__menu {
    height: auto;
    width: 100%;
    flex-direction: row;
  }

  .navbar__menu--item {
    transform: translateX(0);
    width: initial;
  }

  .navbar__menu--link {
    color: var(--primary-color);
  }

  .navbar__menu--link:hover {
    color: var(--primary-color-light);
  }

  /*-----Page Header-----*/
  #header {
    background-size: 113% 115%;
  }

  .header__title h1 {
    font-size: 4rem;
  }
}

/*-------------------
Large PCs
---------------------*/
@media screen and (min-width: 1200px) {
  /*-----About-----*/
  .about {
    display: grid;
    grid-template-areas:
      "image intro"
      "image rule"
      "image stacks";
    grid-template-columns: repeat(2, 50vw);
    grid-auto-rows: auto;
    row-gap: 55px;
  }

  .about__intro,
  #main .about hr,
  .about__tech-stack {
    width: 85%;
    max-width: 700px;
    margin: 0 auto;
  }

  .about__intro.row {
    padding: 150px 0 0;
  }

  .about__tech-stack--wrapper.row {
    padding: 0 0 180px;
  }

  .about__intro-wrapper .profile-pic {
    display: block;
    float: left;
    margin-right: 15px;
    border-color: var(--secondary-color);
  }

  .about__intro {
    grid-area: intro;
  }

  #main .about hr {
    grid-area: rule;
  }

  .about__header--img {
    grid-area: image;
    height: 100%;
    background-size: 70% 100%;
  }

  .about__tech-stack {
    grid-area: stacks;
  }

  /*-----Contact-----*/
  .contact-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 1400px;
    margin: 70px auto 0;
  }

  .contact__icons-wrapper {
    flex: 0 0 20%;
    margin: 0;
  }

  #contact__icons {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
  }

  .contact__form--container {
    flex: 0 0 50%;
  }
}
