/* General Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --exo-font: 'Exo 2', sans-serif;
  --roboto-font: 'Roboto Slab', serif;
  --primary-color: #18254E;
  --primary-color-light: rgb(157, 173, 225);
  --secondary-color: #693830;
  --secondary-color-light: rgb(223, 189, 185);
  --accent-color: #14D220;
  --black: #1A1A1A;
  --white: #E6E6E6;
}

html {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--exo-font);
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

aside,
header,
main,
nav,
section {
  display: block;
}



/* Navigation Bar */

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 20px 5vw 0;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand a {
  text-decoration: none;
}

.logo {
  width: 65px;
  height: auto;
  display: block;
}

.nav-text,
.nav-name {
  display: none;
}

.hamburger {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 3px 0;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.2s ease-in;
}

.hamburger::before,
.hamburger::after {
  content: "";
}

.hamburger::before,
.hamburger::after,
.line {
  width: 5px;
  height: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  box-shadow: 0 0 5px var(--black);
}

.line {
  margin: 3px 0;
}

.rotate {
  transform: rotate(90deg);
  background-color: rgb(223, 189, 185);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 80%;
  max-width: 300px;
  padding-top: 50px;
  list-style: none;
  background-color: rgba(105, 56, 48, 0.876);
  transform: translateX(-250%);
  transition: 0.2s ease-in-out; 
}

.open {
  transform: translateX(0);
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 3.5rem;
  color: var(--primary-color-light);
  cursor: pointer;
}

.profile-pic {
  width: 130px;
  height: auto;
  border-radius: 50%;
  border: 6px solid var(--white);
}

.nav-link {
  text-decoration: none;
  color: var(--primary-color-light);
  font-size: 2rem;
  display: inline-block;
  transform: translateX(-500%);
  cursor: pointer;
}

#navbar #overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 80;
}

@keyframes slideIn {
  100% {
    transform: translateX(0);
  }
}



/* Page Header */
#header {
  background: var(--black) url("../../assets/img/lines.jpg") no-repeat fixed;
  background-size: 150% 110%;
  height: 100vh;
  position: relative;
}

#header::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(24, 37, 78, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.header-content {
  padding: 0 10vw;
  margin-top: 200px;
}



/* Main Page Content */
main {
  flex-grow: 1;
}