#header {
  background-color: $primaryColorLight;
}

.header__container {
  @include flexDisplay(space-between, true);
  padding: 1.5rem $mobilePadding;
}

@include mediaQuery($desktop) {
  .header__container {
    padding: 1.5rem $desktopPadding;
  }
}
