#navbar {
  width: 60%;
  min-width: 160px;
  max-width: 250px;
}

.navbar__menu {
  list-style: none;
  @extend %flex-justify;

  .navbar__link {
    color: $primaryColor;
    &:hover {
      color: $primaryColorDark;
    }
  }

  .navbar__link--active {
    color: $primaryColorLight;
    &:hover {
      color: $primaryColorLight;
    }
  }
}
