#navbar {
  margin-left: 0.8rem;
}

.navbar__menu {
  @include flexDisplay(flex-start, true);
  padding: 0.8rem 0;
  height: 3.9rem;
  overflow: hidden;

  .navbar__item {
    padding: 0 0.8rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    .navbar__link {
      display: inline-block;
      font-weight: bold;
      color: $primaryColor;
      transition: 0.15s linear;
      position: relative;
      @include navLink($primaryColorDark);

      &:hover {
        color: $primaryColorDark;

        &::after {
          bottom: -0.8rem;
        }
      }
    }

    .navbar__link--active {
      color: $secondaryColor;
      @include navLink($secondaryColor, true);

      &:hover {
        color: $secondaryColor;
      }
    }
  }
}

@include mediaQuery($desktop) {
  #navbar {
    overflow: visible;
  }

  .navbar__menu {
    .navbar__item {
      padding: 0 1.5rem;
    }
  }
}
