.footer__container {
  padding: 30px $mobilePadding;
}

.footer__menu {
  @include flexDisplay;
  flex-direction: column;
}

.footer__links {
  @include flexDisplay(space-between, flex-start);
  width: 100%;
}
