.footer__container {
  @extend %mobile-layout-padding;
}

.footer__menu {
  @extend %footer-links-display;

  .footer__links {
    padding-top: 5rem;

    .footer__quick-links,
    .footer__contact-links {
      margin-bottom: 5rem;
    }
  }

  .footer__quick-links-menu {
    @extend %list-display;
    @extend %footer-links-display;

    .footer__quick-link-item {
      padding: 0.8rem 0;

      .footer__quick-link {
        color: $secondaryColor;
      }
    }
  }

  .footer__contact-menu {
    @extend %list-display;
    @extend %footer-links-display;

    .footer__contact-item {
      padding: 0.8rem 0;

      .footer__contact-link {
        color: $secondaryColor;
      }
    }
  }
}

.footer__copyright {
  text-align: center;
}

@include mediaQuery($tablet) {
  .footer__menu {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10rem;

    .footer__links {
      @include flexDisplay(space-between, true, flex-start);
      flex: 0 0 53%;
      padding-top: 0;

      .footer__quick-links,
      .footer__contact-links {
        margin-bottom: 0;
        padding: 0 .5rem;
      }
    }
  }
}

@include mediaQuery($desktop) {
  .footer__container {
    padding: $desktopLayoutPadding;
  }
}
