@use "../variables.scss";
@use "../mixins.scss";

#not-found-page h1 {
  text-align: center;
  margin-bottom: 0;
}

.not-found-page__container {
  padding: variables.$mobilePagePadding;
  min-height: variables.$contentHeight;
  @include mixins.flexDisplay(center, true);
}

@include mixins.mediaQuery(variables.$tablet) {
  .not-found-page__container {
    padding: variables.$desktopPagePadding;
  }
}
