#about {
  background-color: $light;
}

.about__container {
  padding: $mobilePagePadding;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 9rem 2rem;
  align-items: center;
}

@include mediaQuery($tablet) {
  .about__container {
    grid-template-columns: 26rem 1fr;
    column-gap: 10rem;
  }
}

@include mediaQuery($desktop) {
  .about__container {
    grid-template-columns: 40rem 1fr;
    column-gap: 20rem;
    padding: $desktopPagePadding;
  }
}
