.footer__container {
  padding: $mobilePagePadding;
  padding-bottom: 5rem;
}

.footer__menus,
.quick-links__menu,
.contact-links .contact__menu {
  @extend %footer-links-display;
}

.footer__menus > .site-logo {
  align-self: flex-start;
}

.footer__links {
  padding-top: 5rem;

  .quick-links,
  .contact-links {
    margin-bottom: 5rem;
  }
}

.quick-links__item,
.contact__item {
  padding: 0.8rem 0;
}

.quick-links .quick-link,
.contact-links .contact__link {
  color: $primaryColorDark;
  font-weight: bold;
}

.contact-links .contact__link {
  font-size: 1.8rem;
}

.copyright {
  text-align: center;
  color: $primaryColorDark;
}

@include mediaQuery($tablet) {
  .footer__menus {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10rem;
  }

  .footer__links {
    @include flexDisplay(space-between, true, flex-start);
    flex: 0 0 54%;
    padding-top: 0;
  }
  .quick-links,
  .contact-links {
    margin-bottom: 0;
    padding: 0 0.5rem;
  }

  .footer__menus .quick-links__menu,
  .footer__menus .contact__menu {
    @include flexDisplay(center, true);
  }
}

@include mediaQuery($desktop) {
  .footer__container {
    padding: $desktopPagePadding;
    padding-bottom: 5rem;
  }
}
