#footer {
  background-color: var(--footer-bg-color);

  h3 {
    color: $primaryColorLight;
    text-align: left;
  }
}

.footer__container {
  padding: $mobilePagePadding;
  padding-bottom: 5rem;
}

.footer__menus,
.footer__links .quick-links {
  margin-bottom: $marginBottom;
}

.footer__menus > .site-logo {
  align-self: flex-start;
}

.footer__links {
  margin-top: $marginTop;
}

.footer__menus,
.quick-links__menu,
.contact-links .contact__menu {
  @extend %footer-links-display;
}

.quick-links__item,
.contact__item {
  padding: 0.8rem 0;
}

.quick-links .quick-link,
.contact-links .contact__link {
  color: $primaryColorLight;
  font-weight: bold;
}

.contact-links .contact__link {
  @extend %link-inline-flex-display;

  svg {
    font-size: 1.8rem;
  }
}

.copyright {
  text-align: left;
  color: $primaryColorLight;
  font-size: 1.2rem;
  padding-top: 1.5rem;
  border-top: 0.1rem solid $primaryColorLight;
}

@include mediaQuery($tablet) {
  .footer__menus {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__links {
    @include flexDisplay(space-between, true, flex-start);
    flex: 0 0 54%;
    margin-top: 0;

    .quick-links,
    .contact-links {
      margin-bottom: 0;
      padding: 0 0.5rem;
    }
  }
}

@include mediaQuery($desktop) {
  .footer__container {
    padding: $desktopPagePadding;
    padding-bottom: 5rem;
  }
}
