@use "../variables";
@use "../mixins";

.header__container {
  @include mixins.flexDisplay(space-between, true);
  padding: 2rem variables.$mobilePadding;
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  height: variables.$headerHeight;
}

@include mixins.mediaQuery(variables.$desktop) {
  .header__container {
    padding: variables.$desktopPadding;
  }
}
