@use "../variables";
@use "../mixins";

#hero {
  background-image: linear-gradient(
    180deg,
    variables.$primaryColor,
    var(--hero-gradient-color)
  );

  h1 {
    color: var(--hero-heading-color);
  }
}

.hero__container {
  padding: variables.$mobilePagePadding;
}

.hero__info {
  margin-bottom: variables.$marginBottom;

  p {
    text-align: center;
  }
}

.hero__links {
  width: 80%;
  max-width: 25rem;
  margin: 0 auto;

  & > .contact__menu {
    @include mixins.flexDisplay(space-around);

    .contact__link {
      font-size: 2.5rem;
      color: var(--hero-link-color);
      line-height: 0;
      display: block;
    }
  }
}

.hero__image {
  width: 85%;
  max-width: 35rem;
  margin: variables.$marginTop auto 0;
  background-color: var(--hero-image-bg);
  border-radius: 10rem 5rem / 1.5rem 20rem 4rem 7rem;
  box-shadow: 1.5rem 1.5rem 0 0 var(--hero-image-shadow-color);
  overflow: hidden;
}

@include mixins.mediaQuery(variables.$tablet) {
  .hero__container {
    display: grid;
    grid-template-columns: 25rem 1fr;
    gap: 4.5rem;
    align-items: center;
  }

  .hero__image {
    margin-top: 0;
  }
}

@include mixins.mediaQuery(variables.$desktop) {
  .hero__container {
    grid-template-columns: 38rem 1fr;
    padding: variables.$desktopPagePadding;
  }
}
