.hero__container {
  padding: $mobilePagePadding;

  .hero__info h1 {
    text-align: center;
  }

  .hero__links .contact__menu {
    @include flexDisplay(space-around);
    margin-top: 5rem;

    .contact__link {
      font-size: 2.5rem;
      color: $primaryColorDark;
    }
  }
}

@include mediaQuery($tablet) {
}

@include mediaQuery($desktop) {
  .hero__container {
    padding: $desktopPagePadding;
  }
}
