@use "../variables";
@use "../mixins";

#hero {
  background-image: linear-gradient(
    180deg,
    variables.$primaryColor,
    var(--hero-gradient-color)
  );

  h1 {
    color: var(--hero-heading-color);
  }
}

.hero__container {
  padding: variables.$mobilePagePadding;
}

.hero__info {
  margin-bottom: variables.$marginBottom;

  p {
    text-align: center;
  }
}

.hero__links {
  width: 80%;
  max-width: 25rem;
  margin: 0 auto;

  & > .contact__menu {
    @include mixins.flexDisplay(space-around);

    .contact__link {
      font-size: 2.5rem;
      color: var(--hero-link-color);
      line-height: 0;
      display: block;
    }
  }
}

.hero__image {
  width: 85%;
  max-width: 35rem;
  margin: variables.$marginTop auto 0;
  background-color: var(--hero-image-bg);
  border-radius: 10rem 5rem / 1.5rem 20rem 4rem 7rem;
  box-shadow: 1.5rem 1.5rem 0 0 var(--hero-image-shadow-color);
  overflow: hidden;
}

.about__container {
  padding: variables.$mobilePagePadding;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 9rem 2rem;
  align-items: center;
}

.tools__container {
  padding: variables.$mobilePagePadding;
}

.tools__list {
  @include mixins.flexDisplay(center, true, flex-start);
  flex-wrap: wrap;
  max-width: 57rem;
  margin: 0 auto;
}

.tools__list__item {
  padding: 1rem;
}

.tool__list {
  @include mixins.flexDisplay(center, true, flex-end);
  padding: 0.8rem;
  border: 0.1rem solid var(--tool-list-border-color);
  border-radius: 0.4rem;
  background-color: var(--tool-list-bg);
  color: var(--tool-list-color);
  user-select: none;
  cursor: pointer;
  transition: transform 0.15s ease-out;

  &:hover {
    transform: scale(1.07);
  }

  > svg {
    font-size: 2.2rem;
  }
}

.tool__list__title {
  font-weight: bold;
}

@include mixins.mediaQuery(variables.$tablet) {
  .hero__container {
    display: grid;
    grid-template-columns: 25rem 1fr;
    gap: 4.5rem;
    align-items: center;
  }

  .hero__image {
    margin-top: 0;
  }

  .about__container {
    grid-template-columns: 26rem 1fr;
    column-gap: 10rem;
  }
}

@include mixins.mediaQuery(variables.$desktop) {
  .hero__container {
    grid-template-columns: 38rem 1fr;
    padding: variables.$desktopPagePadding;
  }

  .about__container {
    grid-template-columns: 40rem 1fr;
    column-gap: 20rem;
    padding: variables.$desktopPagePadding;
  }

  .tools__container {
    padding: variables.$desktopPagePadding;
  }
}
