#nav {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav__menu {
  @include flexDisplay(flex-start, true);
}

.nav__item {
  padding: 0 0.65rem;
}

.nav__link {
  display: inline-block;
  font-weight: bold;
  color: $primaryColor;
  transition: 0.15s linear;
  position: relative;

  &::after {
    content: "";
    background-color: rgba($primaryColor, 0.2);
    height: 0;
    position: absolute;
    left: -0.4rem;
    right: -0.4rem;
    bottom: -0.1rem;
    transition: 0.2s ease-in;
  }

  &:hover {
    &::after {
      height: 0.9rem;
    }
  }

  &--active {
    color: $accentColor;

    &:hover {
      color: $accentColor;

      &::after {
        height: 0.9rem;
        background-color: rgba($accentColor, 0.2);
      }
    }
  }
}

@include mediaQuery($desktop) {
  .nav__item {
    padding: 0 1.5rem;
  }
}
