@use "../variables";
@use "../mixins";
@use "../placeholders";

#project-page {
  ul {
    list-style-type: square;
    margin-left: 1.7rem;
  }
}

.project-page__container {
  padding: variables.$mobilePagePadding;
}

.project-page__image {
  margin: 0 auto variables.$marginBottom;
}

.project-page__links {
  @include mixins.flexDisplay;
  flex-wrap: wrap;
  margin-bottom: variables.$marginBottom;
}

.project-page__links-wrapper {
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  a {
    color: var(--project-link-color);
    padding: 1.2rem 2rem;
    border: 0.2rem solid transparent;
    border-radius: 0.35rem;
    transition: 0.1s linear;
    @extend %link-inline-flex-display;

    &:hover {
      color: var(--project-link-hover-color);
      border-color: var(--project-link-border-color);
      transform: translateY(-0.25rem);
    }

    svg {
      font-size: 1.8rem;
    }
  }
}

.project-page__content {
  max-width: 60rem;
  margin: 0 auto;
}

.project-page__features {
  max-width: 60rem;
  margin: variables.$marginTop auto 0;
}

.project-page__features__item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.project-page__footer {
  max-width: 60rem;
  margin: variables.$marginTop auto 0;

  a {
    text-align: center;
    color: var(--project-footer-link-color);
    font-size: 1.55rem;
    display: inline-flex;
    align-items: center;
  }
}

@include mixins.mediaQuery(variables.$desktop) {
  .project-page__container {
    padding: variables.$desktopPagePadding;
  }
}
