@use "../variables";
@use "../mixins";

.projects-page__container {
  padding: variables.$mobilePagePadding;
}

.projects-page__details {
  margin-bottom: variables.$marginBottom;

  & > p {
    text-align: center;
  }
}

.projects-page-grid {
  display: grid;
  grid-template-columns: auto;
  row-gap: 6rem;
  column-gap: 4.5rem;
}

.projects-page-grid__item {
  transition: transform 0.1s linear;
  box-shadow: 0 0 1.6rem 0.2rem var(--projects-grid-item-shadow-color);

  &:hover {
    transform: scale(1.04) translateY(-0.5rem);
  }

  a {
    display: block;
    color: var(--projects-link-color);
  }
}

.projects-page-grid__title {
  padding: 2.5rem 1rem;
  background-color: var(--projects-grid-title-bg);

  p {
    text-align: center;
    font-weight: bold;
  }
}

@include mixins.mediaQuery(variables.$desktop) {
  .projects-page__container {
    padding: variables.$desktopPagePadding;
  }

  .projects-page-grid {
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    row-gap: 9rem;
  }
}
