@use "../variables";
@use "../mixins";

.tools__container {
  padding: variables.$mobilePagePadding;
}

.tools__list {
  @include mixins.flexDisplay(center, true, flex-start);
  flex-wrap: wrap;
  max-width: 57rem;
  margin: 0 auto;
}

.tools__list__item {
  padding: 1rem;
}

.tool__list {
  @include mixins.flexDisplay(center, true, flex-end);
  padding: 0.8rem;
  border: 0.1rem solid var(--tool-list-border-color);
  border-radius: 0.4rem;
  background-color: var(--tool-list-bg);
  color: var(--tool-list-color);
  user-select: none;
  cursor: pointer;
  transition: transform 0.15s ease-out;

  &:hover {
    transform: scale(1.07);
  }

  > svg {
    font-size: 2.2rem;
  }
}

.tool__list__title {
  font-weight: bold;
}

@include mixins.mediaQuery(variables.$desktop) {
  .tools__container {
    padding: variables.$desktopPagePadding;
  }
}
